@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Roboto";
}
.fill { 
    min-height: 100%;
    height: 100%;
}
html, body ,#app{
    margin: 0;
    height: 100%;
}
.size-text{
    font-size: 10rem;
}
.afill{
    padding: auto;
}
